In [2]:
import datetime as dt

<h1>Date</h1>

In [8]:
#print any date. It is in the format of yyyy mm dd
y=dt.date(2016,4,3)
print(y)

2016-04-03

In [10]:
#print today date
tday=dt.date.today()
print(tday)
#to print any one year mmonth or day
print(tday.year)
print(tday.month)
print(tday.day)

2022-04-15
2022
4
15

In [11]:
#to print weekday we use two methods. weekday() gives monday as o while isoweekday() gives monday as 1
print(tday.weekday())
print(tday.isoweekday())

4
5

In [13]:
#If we want to find any date from today before or after we use timedelta
tdelta=dt.timedelta(days=7) #date with a period of 7 days
print(tday+tdelta)
print(tday-tdelta)

2022-04-23
2022-04-07

In [19]:
bday=dt.date(2000,4,19)
till_bday=tday-bday
print(till_bday)
print(till_bday.total_seconds())

8031 days, 0:00:00
693878400.0

<h1>Time</h1>

In [27]:
#hh mm ss ms
t=dt.time(7,10,56,35000)
print(t)
print(t.hour)
print(t.minute)
print(t.second)
print(t.microsecond)

07:10:56.035000
7
10
56
35000

<h1>Datetime</h1>

In [29]:
t=dt.datetime(2016,4,3,6,12,45,2345)
print(t)
print(t.year)

2016-04-03 06:12:45.002345
<built-in method date of datetime.datetime object at 0x00000257A32F7CC0>
<built-in method time of datetime.datetime object at 0x00000257A32F7CC0>
2016

In [30]:
y=dt.datetime.now()
y

datetime.datetime(2022, 4, 15, 16, 12, 38, 515800)

In [31]:
y=dt.datetime.today()
y

datetime.datetime(2022, 4, 15, 16, 16, 5, 673406)

In [33]:
o=dt.datetime.utcnow()
o

datetime.datetime(2022, 4, 15, 10, 46, 57, 178045)

In [34]:
r=y-o
r

datetime.timedelta(days=-1, seconds=86367, microseconds=903075)